body {
  background: #e5e5e5;
  font-family: sans-serif;
}

.card {
  background: silver;
  padding: 20px;
  border-radius: 18px;
}

input, select, button {
  width: 100%;
  margin: 8px 0;
  padding: 14px;
  border-radius: 14px;
  border: none;
}
